// Colors
$black: #000000;
$blue-main: #2692ff;
$blue-hover: #2388ee;
$blue-shadow: #1981e9;
$blue-link-hover: #0f7ae5;
$blue-gradient-top: #005fff;
$blue-gradient-bottom: #0098ff;
$steel: #7a899a;
$white: #ffffff;
$white-almost: #f9fcff;
$green-main: #85d733;
$green-hover: #81cc36;
$green-shadow: #64bf08;
$green-gradient-top: #56a804;
$gray-light: #f5f5f5;
$gray-dark: #445262;
$gray-line: #d8d8d8;
$gray-blue-dark: #354052;
$gray-disabled: #cccccc;
$gray-shadow: #aeaeae;
$charcoal: #1a212c;
$input-border: #f1f1f1;
$input-back: #fcfcfc;
$input-hover: #f6f6f6;
$input-focus: #0097ff;
$will-red: #ff2149;
$red-gradient-top: #c41a34;
$red-gradient-bottom: #e03e4c;

  // Width
$width-mobile: 320px;
$width-mobile-wide: 480px;
$width-tablet: 768px;
$width-desktop-start: 1024px;
$width-desktop-full: 1400px;
$width-mobile-iplus: 500px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
