.btn {
  font: inherit;
  border: 0;

  &--green {
    border-radius: 6px;
    background-color: #85d733;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), inset 0 -2px 0 0 #64bf08;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;

    &:hover {
      background-color: #81cc36;;
    }
  }

  &--login {
    width: 100%;
    max-width: 535px;
    padding: 16px 28px 15px;
    font-size: 14px;
    font-weight: bold;

    @include tablet {
      padding: 16px 34px 15px;
      font-size: 18px;
    }

    @include desktop-start {
      width: 216px;
      font-size: 22px;
    }
  }

  &--wallet {
    width: 100%;
    max-width: 535px;
    margin: 12px 0;
    padding: 15px 20px 13px;
    font-size: 14px;
    line-height: 1.2em;

    @include tablet {
      width: 535px;
      font-size: 18px;
    }

    @include desktop-start {
      width: 246px;
      margin: 0 100px;
      font-size: 22px;
    }
  }

  &--create {
    width: 257px;
    margin-top: 33px;
    margin-bottom: 65px;
    padding-left: 25px;
    position: relative;
    font-family: $montserrat;

    &::before {
      position: absolute;
      content: '';
      width: 16px;
      height: 16px;
      left: 21px;
      top: 18px;
      background-image: url(../img/group.svg);
    }
  }
}

.load-file {
  display: none;
}

@media(max-width: $width-tablet - 1px) {

  .btn--create {
    font-size: 14px;
    margin-top: 30px;
    width: 280px;
    padding: 0;
    padding-left: 15px;
    height: 40px;

    &::before {
      width: 14px;
      height: 14px;
      background-size: cover;
      left: 71px;
      top: 14px;
    }
  }
}
