.input-field {
  @include text(14px, 1.2em, 700);
  position: relative;
  color: transparentize($gray-blue-dark, 0.7);

  @include tablet {
    font-size: 18px;
  }

  &__input,
  &__textarea {
    width: 100%;
    height: 44px;
    padding: 0 17px;
    font: inherit;
    line-height: 1.2em;
    background-color: $input-back;
    border: 1px solid $input-border;
    border-radius: 6px;
    color: $gray-blue-dark;
    -webkit-appearance: none;

    @include tablet {
      height: 52px;
      padding: 0 19px;
    }

    &::placeholder {
      color: transparentize($gray-blue-dark, 0.7);
    }

    &:hover:not(:focus) {
      background-color: $input-hover;
    }

    &:focus {
      font-size: 16px;
      background-color: $white;
      border-color: $input-focus;
      box-shadow: 0 0 8px 0 transparentize($blue-gradient-top, 0.9);
      outline: none;

      @include tablet {
        font-size: 20px;
      }
    }

    &:-webkit-autofill {
      -webkit-box-shadow: inset 0 0 0 52px $input-back;
      -webkit-text-fill-color: $gray-blue-dark;
    }

    &--textarea {
      height: 104px;
      padding: 16px 17px;
      resize: none;

      @include tablet {
        height: 104px;
        padding: 17px 19px;
      }
    }
  }

  &__description {
    display: block;
    margin-bottom: 10px;
    color: transparentize($gray-blue-dark, 0.6);

    @include desktop-start {
      margin-bottom: 7px;
      font-size: 16px;
    }

    &--new-will {
      font-size: 16px;
    }
  }

  &__err-txt {
    display: none;
  }

  &--error {

    & .input-field__input {
      background-color: transparentize($will-red, 0.9);
      border-color: $will-red;
    }

    & .input-field__err-txt {
      @include text(14px, 1.2em, 500);
      position: absolute;
      top: 0;
      left: 53px;
      display: block;
      color: $will-red;

      @include tablet {
        font-size: 16px;
      }

      &--benef {
        top: 76px;
        left: 0;

        @include tablet {
          top: auto;
          bottom: -25px;
        }

        @include desktop-start {
          right: 0;
          bottom: auto;
          left: auto;
        }
      }

      &--subs {
        top: -20px;
        left: 0;

        @include tablet {
          top: auto;
          bottom: -28px;
          left: 0;
        }
      }
    }
  }
}
