.will-block {
  position: relative;
  width: 100%;

  &__title {
    @include text(24px, 1.2em, 700);
    margin: 0 0 27px;
    padding-right: 45px;
    color: transparentize($gray-blue-dark, 0.2);

    @include desktop-start {
      margin-bottom: 25px;
    }
  }

  &__close {
    position: absolute;
    top: -4px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 8px;
    background-color: $gray-light;

    @include desktop-start {
      top: 82px;
    }

    &:focus {
      outline: none;
    }
  }

  &__close-icon {
    width: 14px;
    height: 14px;
    fill: transparentize($steel, 0.5);
    transform: rotate(45deg);
  }

  &__input {
    margin-bottom: 25px;

    @include desktop-start {
      width: 467px;
      margin-bottom: 16px;
    }

    &--wide {

      @include desktop-start {
        width: 100%;
      }
    }
  }

  &__file {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include desktop-start {
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 74px;
    }
  }

  &__file-name {
    @include text(14px, 1.2em, 700);
    order: -1;
    margin: 16px 0 15px;
    color: $gray-blue-dark;
    word-wrap: break-word;

    @include desktop-start {
      margin: 0 27px 0 0;
      font-size: 18px;
    }
  }

  &__file-handle {
    @include text(14px, 1.2em, 700);
    position: relative;
    margin-right: 31px;
    padding: 0;
    font-family: $montserrat;
    border: none;
    background-color: transparent;
    color: $blue-gradient-top;

    @include desktop-start {
      margin-right: 30px;
      font-size: 18px;
    }

    &::after {
      position: absolute;
      left: 0;
      bottom: -1px;
      content: '';
      width: 100%;
      height: 1px;
      background-color: transparentize($blue-gradient-top, 0.5);

      @include desktop-start {
        bottom: 2px;
      }
    }

    &--start {
      display: block;
      max-width: 155px;
      padding: 11px 20px 10px 17px;
      background-color: $blue-main;
      border-radius: 6px;
      box-shadow: inset 0 -2px $blue-shadow ;
      color: $white;
      cursor: pointer;

      &::after {
        content: none;
      }

      @include tablet {
        max-width: none;
        padding: 11px 20px 10px 17px;
        font-size: 16px;
      }

      @include desktop-start {
        font-size: 16px;
      }

      &:hover,
      &:focus {
        background-color: $blue-hover;
      }
    }
  }

  &__icon-upload {
    margin-right: 13px;
  }

  &__replace-input {
    display: none;
  }

  &__tip {
    @include text(14px, 1.2em, 500);
    color: transparentize($gray-blue-dark, 0.5);

    @include tablet {
      margin: 0 auto 0 0;
      font-size: 16px;
    }
  }
}
