.wrap-will--provider {
  color:  $gray-blue-dark;

  @include desktop-start {
    max-width: 1160px;
    margin: 25px 60px 0;
  }

  @media (min-width: 1280px) {
    margin: 25px auto 0;
  }

  @include desktop-full {
  }

  & .wrap-will__row--body {
    position: relative;
    padding: 18px 20px 27px;

    @include tablet {
      flex-wrap: wrap;
      align-items: center;
    }

    @include desktop-start {
      flex-wrap: nowrap;
      padding: 13px 18px 13px 24px;
    }
  }

  & .wrap-will__row--head {

    @include tablet {
      display: none;
    }

    @include desktop-start {
      display: flex;
      margin-bottom: 19px;
    }
  }
}

.wrap-will--provider .wrap-will__col {
  padding-right: 20px;

  &::before {

    @include desktop-start {
      display: none;
    }
  }

  &--provider {

    @media (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-basis: 100%;
      margin-bottom: 9px;
      padding-right: 0;
    }

    @include tablet {
      display: flex;
      align-items: center;
      flex-basis: 100%;
      margin-bottom: 10px;
      padding-right: 25px;
    }

    @include desktop-start {
      flex-basis: 436px;
      margin-bottom: 0;
    }

    &::before {

      @media (max-width: 767px) {
        content: 'provider';
        display: block;
        text-transform: uppercase;
        width: 100%;
        margin-bottom: -9px;
      }
    }
  }

  &--method {
    flex-basis: 58%;

    @include tablet {
      flex-basis: 25%;
    }

    @include desktop-start {
      flex-shrink: 2;
      flex-basis: 200px;
    }

    &::before {
      content: 'METHOD';
      display: block;
      margin-bottom: 4px;

      @include tablet {
        margin-bottom: 15px;
      }
    }
  }

  &--tariff {
    flex-basis: 42%;


    &::before {
      content: 'tariff';
      display: block;
      margin-bottom: 4px;
      text-transform: uppercase;

      @include tablet {
        margin-bottom: 15px;
      }
    }

    @include tablet {
      flex-basis: 25%;
    }

    @include desktop-start {
      flex-shrink: 2;
      flex-basis: 140px;
    }
  }

  &--years {
    flex-basis: 110px;
    margin-top: 22px;

    @include tablet {
      flex-basis: 25%;
      margin-top: 0;
    }

    @include desktop-start {
      flex-shrink: 2;
      flex-basis: 177px;
      margin-top: 0;
    }

    &::before {
      content: 'years';
      display: block;
      margin-bottom: 12px;
      text-transform: uppercase;

      @include tablet {
        margin-bottom: 15px;
      }
    }

    & a {
      margin-left: 3px;
      color: #258ee2;
      font-size: 17px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-decoration: none;

      @include desktop-start {
        margin-left: 20px;
      }
    }
  }

  &--provider-action {
    flex-basis: auto;
    align-self: flex-end;
    text-align: right;
    padding-right: 0;

    @include tablet {
      flex-basis: auto;
    }

    @include desktop-start {
      flex-basis: 165px;
      align-self: auto;
      margin-top: 0;
    }
  }

  &--provider-name {
    display: block;
  }
}

.button.button--choose {
  flex-shrink: 0;
  width: auto;
  padding: 14px 17px 12px 17px;
  font-size: 14px;

  @include tablet {
    margin-top: 8px;
  }

  @include desktop-start {
    margin-top: -2px;
    margin-bottom: -2px;
    padding: 11px 12px 10px 13px;
    font-size: 16px;
  }
}

.provider-logo-image {
  width: 40px;
  margin-right: 34px;
  margin-top: 9px;
  background-color: $white;

  @include tablet {
    width: 48px;
  }

  @include desktop-start {
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 22px;
  }
}

.wrap-will__info {
  @include text(17px, 1.2em, 400);
  position: relative;
  margin-left: auto;
  color: $blue-main;
  border-bottom: 1px dotted $blue-main;
  cursor: pointer;

  @include desktop-start {
    margin-left: 26px;
  }
}

.wrap-will__select {
  flex-shrink: 0;
  width: 84px;
  height: 40px;
  padding-left: 17px;
  border: 1px solid $input-border;
  background-color: $input-hover;
  border-radius: 7px;
  -webkit-appearance: none;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: top 17px right 12px;

  &:focus {
    outline: none;
  }
}

.wrap-will__info-popup {
  position: absolute;
  top: 38px;
  right: -19px;
  z-index: 50;

  @include tablet {
    top: 38px;
    right: -60px;
  }

  @include desktop-start {
    top: 38px;
    left: -180px;
  }
}
